name: Build

on:
  push:
    branches:
      - '*/*'
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Prepare
        run: pnpm dev:prepare

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build

      - name: Save build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./dist
